In [1]:
import pandas as pd

In [2]:
# Read in data from years 2015 to 2019

data_2015to2019 = pd.read_csv('../Resources/FINAL_MERGE_df.csv')

In [3]:
# Count datapoints before checking for null values

data_2015to2019.count()

ITIN_ID              463790
COUPONS              463790
YEAR                 463790
ORIGIN_AIRPORT_ID    463790
QUARTER              463790
ORIGIN               463790
DEST_AIRPORT_ID      463790
DEST                 463790
TICKET_CARRIER       463790
OPERATING_CARRIER    463790
REPORTING_CARRIER    463790
PASSENGERS           463790
FARE_CLASS           463790
DISTANCE_GROUP       463790
ITIN_GEO_TYPE        463790
ROUNDTRIP            463790
ITIN_FARE            463790
MILES_FLOWN          463790
dtype: int64

In [4]:
# Drop null values if they exist (none exist) and count records

data_2015to2019.dropna().count()

ITIN_ID              463790
COUPONS              463790
YEAR                 463790
ORIGIN_AIRPORT_ID    463790
QUARTER              463790
ORIGIN               463790
DEST_AIRPORT_ID      463790
DEST                 463790
TICKET_CARRIER       463790
OPERATING_CARRIER    463790
REPORTING_CARRIER    463790
PASSENGERS           463790
FARE_CLASS           463790
DISTANCE_GROUP       463790
ITIN_GEO_TYPE        463790
ROUNDTRIP            463790
ITIN_FARE            463790
MILES_FLOWN          463790
dtype: int64

In [5]:
# Remove ITIN ID column. This was used in cleaning and primarily used for databases. Should not affect data

data_2015to2019 = data_2015to2019.drop(['ITIN_ID','ORIGIN','DEST'], axis=1)
data_2015to2019.head()

,COUPONS,YEAR,ORIGIN_AIRPORT_ID,QUARTER,DEST_AIRPORT_ID,TICKET_CARRIER,OPERATING_CARRIER,REPORTING_CARRIER,PASSENGERS,FARE_CLASS,DISTANCE_GROUP,ITIN_GEO_TYPE,ROUNDTRIP,ITIN_FARE,MILES_FLOWN
0,2,2019,14492,1,10529,DL,9E,9E,3.0,Y,2,2.0,1.0,11.0,1064.0
1,2,2019,14492,1,10529,DL,9E,9E,1.0,X,2,2.0,1.0,28.0,1064.0
2,2,2019,14492,1,10529,DL,9E,9E,1.0,X,2,2.0,1.0,159.0,1064.0
3,2,2019,14492,1,10529,DL,9E,9E,2.0,X,2,2.0,1.0,176.0,1064.0
4,2,2019,14492,1,10529,DL,9E,9E,3.0,X,2,2.0,1.0,196.0,1064.0

In [6]:
# Defined independent (X) variables and dependent variable (y) for the model

X = data_2015to2019.drop(columns=['ITIN_FARE'])
y = data_2015to2019['ITIN_FARE']
print(X.shape,y.shape)

(463790, 14) (463790,)

In [7]:
data_numerical_X = pd.get_dummies(X)
X = data_numerical_X
X

,COUPONS,YEAR,ORIGIN_AIRPORT_ID,QUARTER,DEST_AIRPORT_ID,PASSENGERS,DISTANCE_GROUP,ITIN_GEO_TYPE,ROUNDTRIP,MILES_FLOWN,...,REPORTING_CARRIER_YV,REPORTING_CARRIER_YX,REPORTING_CARRIER_ZW,FARE_CLASS_C,FARE_CLASS_D,FARE_CLASS_F,FARE_CLASS_G,FARE_CLASS_U,FARE_CLASS_X,FARE_CLASS_Y
0,2,2019,14492,1,10529,3.0,2,2.0,1.0,1064.0,...,0,0,0,0,0,0,0,0,0,1
1,2,2019,14492,1,10529,1.0,2,2.0,1.0,1064.0,...,0,0,0,0,0,0,0,0,1,0
2,2,2019,14492,1,10529,1.0,2,2.0,1.0,1064.0,...,0,0,0,0,0,0,0,0,1,0
3,2,2019,14492,1,10529,2.0,2,2.0,1.0,1064.0,...,0,0,0,0,0,0,0,0,1,0
4,2,2019,14492,1,10529,3.0,2,2.0,1.0,1064.0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
463785,2,2015,14492,4,14100,2.0,1,2.0,1.0,674.0,...,0,0,1,0,0,0,0,0,1,0
463786,2,2015,14492,4,14100,1.0,1,2.0,1.0,674.0,...,0,0,1,0,0,0,0,0,1,0
463787,2,2015,14492,4,14100,1.0,1,2.0,1.0,674.0,...,0,0,1,0,0,0,0,0,1,0
463788,2,2015,14492,4,14100,1.0,1,2.0,1.0,674.0,...,0,0,1,0,0,0,0,0,1,0
463789,2,2015,14492,4,14100,1.0,1,2.0,1.0,674.0,...,0,0,1,0,0,0,0,0,1,0

In [8]:
# From SKlearn import RandomForestClassifier for purpose of identifying important variables

from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X,y)
rf.score(X,y)

KeyboardInterrupt: