In [1]:
import pandas as pd

In [2]:
# Read in data from years 2015 to 2019

data_2015to2019 = pd.read_csv('../Resources/FINAL_MERGE_df.csv')

In [3]:
# Count datapoints before checking for null values

data_2015to2019.count()

ITIN_ID              463790
COUPONS              463790
YEAR                 463790
ORIGIN_AIRPORT_ID    463790
QUARTER              463790
ORIGIN               463790
DEST_AIRPORT_ID      463790
DEST                 463790
TICKET_CARRIER       463790
OPERATING_CARRIER    463790
REPORTING_CARRIER    463790
PASSENGERS           463790
FARE_CLASS           463790
DISTANCE_GROUP       463790
ITIN_GEO_TYPE        463790
ROUNDTRIP            463790
ITIN_FARE            463790
MILES_FLOWN          463790
dtype: int64

In [4]:
# Drop null values if they exist (none exist) and count records

data_2015to2019.dropna().count()

ITIN_ID              463790
COUPONS              463790
YEAR                 463790
ORIGIN_AIRPORT_ID    463790
QUARTER              463790
ORIGIN               463790
DEST_AIRPORT_ID      463790
DEST                 463790
TICKET_CARRIER       463790
OPERATING_CARRIER    463790
REPORTING_CARRIER    463790
PASSENGERS           463790
FARE_CLASS           463790
DISTANCE_GROUP       463790
ITIN_GEO_TYPE        463790
ROUNDTRIP            463790
ITIN_FARE            463790
MILES_FLOWN          463790
dtype: int64

In [5]:
# Remove ITIN ID column. This was used in cleaning and primarily used for databases. Should not affect data

data_2015to2019 = data_2015to2019.drop(['ITIN_ID','ORIGIN','DEST','COUPONS','ROUNDTRIP', 'OPERATING_CARRIER', 'REPORTING_CARRIER'], axis=1)
data_2015to2019.head()

,YEAR,ORIGIN_AIRPORT_ID,QUARTER,DEST_AIRPORT_ID,TICKET_CARRIER,PASSENGERS,FARE_CLASS,DISTANCE_GROUP,ITIN_GEO_TYPE,ITIN_FARE,MILES_FLOWN
0,2019,14492,1,10529,DL,3.0,Y,2,2.0,11.0,1064.0
1,2019,14492,1,10529,DL,1.0,X,2,2.0,28.0,1064.0
2,2019,14492,1,10529,DL,1.0,X,2,2.0,159.0,1064.0
3,2019,14492,1,10529,DL,2.0,X,2,2.0,176.0,1064.0
4,2019,14492,1,10529,DL,3.0,X,2,2.0,196.0,1064.0

In [6]:
shrink_dada = data_2015to2019.sample(n=20000)

In [8]:
# Defined independent (X) variables and dependent variable (y) for the model

X = shrink_dada.drop(columns=['ITIN_FARE'])
y = shrink_dada['ITIN_FARE']
print(X.shape,y.shape)

(20000, 10) (20000,)

In [9]:
data_numerical_X = pd.get_dummies(X)
X = data_numerical_X
X

,YEAR,ORIGIN_AIRPORT_ID,QUARTER,DEST_AIRPORT_ID,PASSENGERS,DISTANCE_GROUP,ITIN_GEO_TYPE,MILES_FLOWN,TICKET_CARRIER_AA,TICKET_CARRIER_AS,...,TICKET_CARRIER_US,TICKET_CARRIER_VX,TICKET_CARRIER_WN,FARE_CLASS_C,FARE_CLASS_D,FARE_CLASS_F,FARE_CLASS_G,FARE_CLASS_U,FARE_CLASS_X,FARE_CLASS_Y
107481,2019,14492,4,13232,9.0,2,2.0,1264.0,0,0,...,0,0,1,0,0,0,0,0,1,0
266934,2017,14492,3,10721,13.0,2,2.0,1224.0,0,0,...,0,0,0,0,0,1,0,0,0,0
269220,2017,14492,3,14869,1.0,4,2.0,3646.0,0,0,...,0,0,0,0,0,0,0,0,1,0
183517,2018,14492,3,10693,9.0,1,2.0,884.0,0,0,...,0,0,1,0,0,0,0,0,1,0
126129,2018,14492,1,12953,1.0,1,2.0,862.0,1,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195718,2018,14492,4,10721,10.0,2,2.0,1224.0,0,0,...,0,0,0,0,0,0,0,0,0,1
342911,2016,14492,3,11697,1.0,2,2.0,1360.0,0,0,...,0,0,0,0,0,0,0,0,1,0
396454,2015,14492,1,12953,1.0,1,2.0,862.0,0,0,...,0,0,0,0,0,0,0,0,1,0
210226,2018,14492,4,11618,2.0,1,2.0,832.0,0,0,...,0,0,0,0,0,0,0,0,0,1
134217,2018,14492,1,11618,3.0,1,2.0,832.0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [10]:
# From SKlearn import RandomForestClassifier for purpose of identifying important variables

from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(n_estimators=100)
rf = rf.fit(X,y)
rf.score(X,y)

0.3104