In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
Merge_2019 = pd.read_csv("MERGE_2019_df.csv")
Merge_2018 = pd.read_csv("YR2018Data.csv")
Merge_2017 = pd.read_csv("TraEdExp_AJ/EmpTitle_Code.csv")
Merge_2016 = pd.read_csv("TraEdExp_AJ/EmpTitle_Code.csv")
Merge_2015 = pd.read_csv("TraEdExp_AJ/EmpTitle_Code.csv")

L_AIRPORT_ID = pd.read_csv("L_AIRPORT_ID.csv")
L_UNIQUE_CARRIERS = pd.read_csv("L_UNIQUE_CARRIERS.csv")
RDUCurrentDestinations = pd.read_csv("RDUCurrentDestinations.csv")
RDUCurrentFlights = pd.read_csv("RDUCurrentFlights.csv")

                                              Title     Code
Index
3                         Computer systems analysts  15-1211
4                     Information security analysts  15-1212
5      Computer and information research scientists  15-1221
7              Computer network support specialists  15-1231
8                 Computer user support specialists  15-1232

In [3]:
TrainingEduationExperience_df = pd.read_csv("../TraEdExp_AJ/TrainingEduationExperience.csv")
TrainingEduationExperience_df.rename(columns={'Unnamed: 0':'Index', 
                                              'Employment Matrix Title':'Title', 
                                              'Employment Matrix Code':'Code', 
                                              'Typical education needed for entry': 'Education',
                                              'Less than high school diploma': 'Less_HighSchool',
                                              'High school diploma or equivalent': 'HighSchool',
                                              'Some college, no degree': 'Some_College',
                                              "Associate's degree": 'Associate_Degree',
                                              "Bachelor's degree":'Bachelor_Degree',
                                              "Master's degree":'Master_Degree',
                                              "Doctoral or professional degree":'Doctoral_Professional_Degree',
                                              "Related Work Experience":'Experience',
                                              "Typical on-the-job training":'Training'}, 
                                     inplace=True)
TrainingEduationExperience_df.set_index("Index", inplace=True)
TrainingEduationExperience_df.head()

,Title,Code,Education,Less_HighSchool,HighSchool,Some_College,Associate_Degree,Bachelor_Degree,Master_Degree,Doctoral_Professional_Degree,Experience,Training
Index,,,,,,,,,,,,
3,Computer systems analysts,15-1211,Bachelor's degree,0.5,5.4,12.8,7.8,46.4,24.0,3.1,None,None
4,Information security analysts,15-1212,Bachelor's degree,0.8,4.2,17.2,10.1,42.1,23.3,2.2,Less than 5 years,None
5,Computer and information research scientists,15-1221,Master's degree,0.0,0.9,5.9,3.7,33.7,35.1,20.8,None,None
7,Computer network support specialists,15-1231,Associate's degree,0.8,9.9,25.2,15.5,37.0,10.7,1.0,None,None
8,Computer user support specialists,15-1232,"Some college, no degree",0.8,9.9,25.2,15.5,37.0,10.7,1.0,None,None

In [4]:
employment_occupation_df = pd.read_csv("../Job Growth/employment_occupation.csv")
employment_occupation_df.rename(columns={'Unnamed: 0':'Index',
                                         "Employment Matrix title": 'Title',
                                         "Employment Matrix code": 'Code',
                                         "2019 Employment": '2019_Employment',
                                         "2029 Employment": '2029_Employment',
                                         "Number of Employment changes, 2019-29": '2019-2029_Change',
                                         "Percent Employment change, 2019-29": '2019-2029_Percent_Change'}, 
                                inplace=True)
employment_occupation_df.set_index("Index", inplace=True)
employment_occupation_df.head()

,Title,Code,2019_Employment,2029_Employment,2019-2029_Change,2019-2029_Percent_Change
Index,,,,,,
5,Computer and mathematical occupations,15-0000,"4,845.1","5,432.4",587.4,12.1
9,Legal occupations,23-0000,"1,335.6","1,403.2",67.6,5.1
10,Educational instruction and library occupations,25-0000,"9,744.7","10,185.6",441.0,4.5
12,Healthcare practitioners and technical occupat...,29-0000,"9,133.7","9,967.3",833.6,9.1
13,Healthcare support occupations,31-0000,"7,013.4","8,598.1","1,584.8",22.6

In [5]:
fastest_decline_df = pd.read_csv("../Job Growth/fastest_decline.csv")
fastest_decline_df.rename(columns={'Unnamed: 0':'Index',
                                    "Employment Matrix title": 'Title',
                                    "Employment Matrix code": 'Code',
                                    "2019 Employment": '2019_Employment',
                                    "2029 Employment": '2029_Employment',
                                    "Number of Employment changes, 2019-29": '2019-2029_Change',
                                    "Percent Employment change, 2019-29": '2019-2029_Percent_Change'}, 
                          inplace=True)
fastest_decline_df.set_index("Index", inplace=True)
fastest_decline_df.head()

,Title,Code,2019_Employment,2029_Employment,2019-2029_Change,2019-2029_Percent_Change
Index,,,,,,
9,Travel agents,41-3041,82.0,60.8,-21.3,-25.9
21,"Door-to-door sales workers, news and street ve...",41-9091,72.9,58.3,-14.6,-20.0

In [6]:
fastest_growing_df = pd.read_csv("../Job Growth/fastest_growing.csv")
fastest_growing_df.rename(columns={'Unnamed: 0':'Index',
                                    "Employment Matrix title": 'Title',
                                    "Employment Matrix code": 'Code',
                                    "2019 Employment": '2019_Employment',
                                    "2029 Employment": '2029_Employment',
                                    "Number of Employment changes, 2019-29": '2019-2029_Change',
                                    "Percent Employment change, 2019-29": '2019-2029_Percent_Change'}, 
                          inplace=True)
fastest_growing_df.set_index("Index", inplace=True)
fastest_growing_df.head()

,Title,Code,2019_Employment,2029_Employment,2019-2029_Change,2019-2029_Percent_Change
Index,,,,,,
4,Nurse practitioners,29-1171,211.3,322.0,110.7,52.4
6,Occupational therapy assistants,31-2011,47.1,63.5,16.3,34.6
7,Statisticians,15-2041,42.7,57.5,14.8,34.6
8,Home health and personal care aides,31-1120,"3,439.7","4,599.2","1,159.5",33.7
9,Physical therapist assistants,31-2021,98.7,130.9,32.2,32.6

In [7]:
projected_growth_df = pd.read_csv("../Job Growth/projected_growth.csv")
projected_growth_df.rename(columns={'Unnamed: 0':'Index'}, 
                           inplace=True )
projected_growth_df.set_index("Index", inplace=True)
projected_growth_df.head()

,Title,Code,Type,Employment_A,Employment_B,Ten_Year_Change,Ten_Year_Percent_Change,Percent_self_employed,Occupational_openings_Ten_Year_Annual_Average
Index,,,,,,,,,
83,Computer systems analysts,15-1211,Line item,632.4,679.0,46.6,7.4,3.0,46.2
84,Information security analysts,15-1212,Line item,131.0,171.9,40.9,31.2,0.8,13.9
85,Computer and information research scientists,15-1221,Line item,32.7,37.7,5.0,15.4,—,3.0
87,Computer network support specialists,15-1231,Line item,195.1,207.7,12.6,6.4,2.0,14.8
88,Computer user support specialists,15-1232,Line item,687.2,741.9,54.8,8.0,1.9,53.6

In [8]:
county_codes_df = pd.read_csv("../geo_data_csvs/cleaned_data/county_codes.csv")
county_codes_df.set_index("Area_Code", inplace=True)
county_codes_df.head()

                         Area_Name
Area_Code
1001       Autauga County, Alabama
1003       Baldwin County, Alabama
1005       Barbour County, Alabama
1007          Bibb County, Alabama
1009        Blount County, Alabama

In [9]:
industry_codes_df = pd.read_csv("../geo_data_csvs/cleaned_data/industry_codes.csv")
industry_codes_df.set_index("Industry_Code", inplace=True)
industry_codes_df.head()

                                   Industry_Name
Industry_Code
10                      10 Total, all industries
101                          101 Goods-producing
1011           1011 Natural resources and mining
1012                           1012 Construction
1013                          1013 Manufacturing

In [10]:
state_coords_df = pd.read_csv("../geo_data_csvs/cleaned_data/state_coords.csv")
state_coords_df.rename(columns={'Unnamed: 0':'Index'}, 
                        inplace=True)
state_coords_df.set_index("Index", inplace=True)
state_coords_df.head()

               State  Latitude   Longitude
Index
0          Wisconsin      44.5  -89.500000
1      West Virginia      39.0  -80.500000
2            Vermont      44.0  -72.699997
3              Texas      31.0 -100.000000
4       South Dakota      44.5 -100.000000

In [11]:
state_codes_df = pd.read_csv("../geo_data_csvs/cleaned_data/state_codes.csv")
state_codes_df.set_index("Area_Code", inplace=True)
state_codes_df.head()

                 State
Area_Code
1             Alabama
2              Alaska
4             Arizona
5            Arkansas
6          California

In [12]:
all_states_df = pd.read_csv("../geo_data_csvs/cleaned_data/all_states.csv")
all_states_df.rename(columns={'Unnamed: 0':'Index'}, 
                        inplace=True)
all_states_df.set_index("Index", inplace=True)
all_states_df.head()

,Area_Code,State,Occupation_Code,Occupation_Title,Total_Employment,Mean_Hourly_Income,Hourly_10th_Percentile,Hourly_25th_Percentile,Median_Hourly_Income,Hourly_75th_Percentile,Hourly_90th_Percentile,Mean_Annual_Income,Annual_10th_Percentile,Annual_25th_Percentile,Median_Annual_Income,Annual_75th_Percentile,Annual_90th_Percentile,Latitude,Longitude
Index,,,,,,,,,,,,,,,,,,,
0,1,Alabama,15-1211,Computer Systems Analysts,"4,310",42.12,26.17,31.52,39.36,50.82,62.95,"87,600","54,430","65,560","81,860","105,700","130,940",32.31823,-86.902298
1,1,Alabama,15-1212,Information Security Analysts,"1,570",42.67,23.93,30.13,40.51,54.51,65.82,"88,750","49,760","62,660","84,250","113,390","136,900",32.31823,-86.902298
2,1,Alabama,15-1231,Computer Network Support Specialists,"1,210",29.66,17.57,21.95,27.84,35.07,42.22,"61,680","36,540","45,660","57,920","72,930","87,820",32.31823,-86.902298
3,1,Alabama,15-1232,Computer User Support Specialists,"6,480",24.79,15.16,18.26,23.25,29.72,37.80,"51,550","31,540","37,990","48,360","61,820","78,630",32.31823,-86.902298
4,1,Alabama,15-1241,Computer Network Architects,"1,310",52.76,31.04,39.50,49.83,63.47,76.46,"109,740","64,560","82,150","103,650","132,010","159,040",32.31823,-86.902298

In [13]:
state_emp_data_df = pd.read_csv("../geo_data_csvs/cleaned_data/state_emp_data.csv")
state_emp_data_df.rename(columns={'Unnamed: 0':'Index',
                                  "Occupation_Title": 'Title',
                                  "Occupation_Code": 'Code'}, 
                        inplace=True)
state_emp_data_df.set_index("Index", inplace=True)
state_emp_data_df.head()

,Area_Code,State,Code,Title,Total_Employment,Mean_Hourly_Income,Hourly_10th_Percentile,Hourly_25th_Percentile,Median_Hourly_Income,Hourly_75th_Percentile,Hourly_90th_Percentile,Mean_Annual_Income,Annual_10th_Percentile,Annual_25th_Percentile,Median_Annual_Income,Annual_75th_Percentile,Annual_90th_Percentile
Index,,,,,,,,,,,,,,,,,
62,1,Alabama,15-1211,Computer Systems Analysts,"4,310",42.12,26.17,31.52,39.36,50.82,62.95,"87,600","54,430","65,560","81,860","105,700","130,940"
63,1,Alabama,15-1212,Information Security Analysts,"1,570",42.67,23.93,30.13,40.51,54.51,65.82,"88,750","49,760","62,660","84,250","113,390","136,900"
64,1,Alabama,15-1231,Computer Network Support Specialists,"1,210",29.66,17.57,21.95,27.84,35.07,42.22,"61,680","36,540","45,660","57,920","72,930","87,820"
65,1,Alabama,15-1232,Computer User Support Specialists,"6,480",24.79,15.16,18.26,23.25,29.72,37.80,"51,550","31,540","37,990","48,360","61,820","78,630"
66,1,Alabama,15-1241,Computer Network Architects,"1,310",52.76,31.04,39.50,49.83,63.47,76.46,"109,740","64,560","82,150","103,650","132,010","159,040"

In [14]:
national_emp_data_df = pd.read_csv("../TraEdExp_AJ/national_emp_data_v2.csv")
national_emp_data_df.rename(columns={'Unnamed: 0':'Index',
                                  "Occupation_Title": 'Title',
                                  "Occupation_Code": 'Code'}, 
                        inplace=True)
national_emp_data_df.set_index("Index", inplace=True)
national_emp_data_df.head()

,Area_Code,Code,Title,Total_Employment,Mean_Hourly_Income,Hourly_10th_Percentile,Hourly_25th_Percentile,Median_Hourly_Income,Hourly_75th_Percentile,Hourly_90th_Percentile,Mean_Annual_Income,Annual_10th_Percentile,Annual_25th_Percentile,Median_Annual_Income,Annual_75th_Percentile,Annual_90th_Percentile,Mean_Annual_Income
Index,,,,,,,,,,,,,,,,,
121,99,15-1211,Computer Systems Analysts,589060,46.23,26.53,33.65,43.71,56.31,71.00,96160,55180,70000.0,90920.0,117120.0,147670.0,96160
122,99,15-1212,Information Security Analysts,125570,50.10,27.79,36.27,47.95,61.85,76.37,104210,57810,75450.0,99730.0,128640.0,158860.0,104210
124,99,15-1221,Computer and Information Research Scientists,30780,61.28,33.65,44.85,59.06,74.05,91.24,127460,69990,93290.0,122840.0,154020.0,189780.0,127460
126,99,15-1231,Computer Network Support Specialists,185430,33.10,18.75,23.63,30.51,40.01,51.17,68860,38990,49160.0,63460.0,83230.0,106420.0,68860
127,99,15-1232,Computer User Support Specialists,647330,27.19,15.54,19.39,25.13,32.72,42.53,56550,32330,40340.0,52270.0,68060.0,88470.0,56550

In [15]:
SalaryFINAL_df = pd.read_csv("../Salary_MH/SalaryFINAL.csv")
SalaryFINAL_df.rename(columns={'Unnamed: 0':'Index'}, 
                        inplace=True)
SalaryFINAL_df.set_index("Index", inplace=True)
SalaryFINAL_df.head()

          Code Median_Annual_Wage
Index
79     15-0000          88,340.00
80     15-1200          88,240.00
81     15-1210          92,360.00
82     15-1211          90,920.00
83     15-1212          99,730.00

In [16]:
connection_string = f'postgres://tbsmkoutvlftbs:78a43d94f5ad0fa28526b8510e9aaae2938aeb27cbf50cfe2cb6235c56aa4d41@ec2-54-159-107-189.compute-1.amazonaws.com:5432/de1p8goqk2oub3'
engine = create_engine(connection_string)

In [17]:
engine.table_names()

['emptitle',
 'state_coords',
 'national_emp_data',
 'all_states',
 'state_emp_data',
 'state_codes',
 'industry_codes',
 'salaryfinal',
 'fastest_growing',
 'fastest_decline',
 'employment_occupation',
 'trainingeduationexperience',
 'county_codes',
 'projected_growth']

In [31]:
EmpTitle_Code_df.to_sql(name='emptitle', con=engine, if_exists='replace')

In [32]:
county_codes_df.to_sql(name='county_codes', con=engine, if_exists='replace')

In [33]:
state_coords_df.to_sql(name='state_coords', con=engine, if_exists='replace')

In [34]:
national_emp_data_df.to_sql(name='national_emp_data', con=engine, if_exists='replace')

In [21]:
all_states_df.to_sql(name='all_states', con=engine, if_exists='replace')

In [22]:
state_emp_data_df.to_sql(name='state_emp_data', con=engine, if_exists='replace')

In [23]:
state_codes_df.to_sql(name='state_codes', con=engine, if_exists='replace')

In [24]:
industry_codes_df.to_sql(name='industry_codes', con=engine, if_exists='replace')

In [25]:
SalaryFINAL_df.to_sql(name='salaryfinal', con=engine, if_exists='replace')

In [26]:
projected_growth_df.to_sql(name='projected_growth', con=engine, if_exists='replace')

In [27]:
fastest_growing_df.to_sql(name='fastest_growing', con=engine, if_exists='replace')

In [28]:
fastest_decline_df.to_sql(name='fastest_decline', con=engine, if_exists='replace')

In [29]:
employment_occupation_df.to_sql(name='employment_occupation', con=engine, if_exists='replace')

In [30]:
TrainingEduationExperience_df.to_sql(name='trainingeduationexperience', con=engine, if_exists='replace')